body {
  background-color: #EAE7DC;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #8E8D8A;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  padding: 2px 0 2px 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skill-card:hover {
  background-color: #E98074;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
  transform: translateY(-3px) scale(1.05);
}

/* NAVBAR */
.navbar {
  background-color: #EAE7DC!important;
  border-bottom: #E98074 solid 4px;
  margin: auto;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;

}

#navDropdown {
  position: static;
}

#navDropdownMenu {
  width: 100%;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

/* INTRO DIV */
#intro-div {
  height: 80vh;
  text-align: center;
  margin-top: 80px;
  color: #8E8D8A;
}

/* SKILLS GRID */
#skills-title {
  display: grid;
  justify-content: center;
  text-align: center;
  color: #8E8D8A;
  max-width: 80vw;
  margin: auto;
}
.skills-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 80vw;
  margin: auto;
  padding: 0 0 10vh 0;
}

.skill-png {
  max-height: 50px;
}

/* PROJECTS GRID */
.projects-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 80vw;
  margin: auto;
  padding: 0 0 10vh 0;
}

.project-card {
  background: #8E8D8A;
  color: white;
}

.proj-card-footer {
  background-color: #E98074;
}

/* CONTACT GRID */
.contact-grid {
  display: grid;
  max-width: 90vw;
  margin: auto;
  padding: 0 0 10vh 0;
}

#contact-form {
  background-color: #D8C3A5;
  padding: 5vw 5vw 5vw 5vw;
  border-radius: 5px;
  color: white;
}
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 840px) {

}

@media screen and (max-width: 550px) {

}